
::-webkit-scrollbar-track-piece {
  background-color: #fff
}

::-webkit-scrollbar {
  width: 8px;
  height: 13px
}

::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  background-clip: padding-box;
  min-height: 20px;
  border-radius: 3px
}

::-webkit-scrollbar-thumb:hover {
  background-color: #929292
}


@keyframes mymove {
  0% {
      -webkit-transform: scale(1.1, 1.1) translateY(-0.8em);
              transform: scale(1.1, 1.1) translateY(-0.8em);
      z-index: 9;
  }
  50% {
      -webkit-transform: scale(1, 1) translateY(-0.6em);
              transform: scale(1, 1) translateY(-0.6em);
      z-index: 9;
  }
  100% {
      -webkit-transform: scale(1.1, 1.1) translateY(-0.8em);
              transform: scale(1.1, 1.1) translateY(-0.8em);
      z-index: 9;
  }
}