.ctitle{
  text-align: center;
  height: 3.375rem;
  line-height: 3.375rem;
  position: relative;
    &::before{
      content: '';
      width: 1.5625rem;
      height: 1.5625rem;
      display: inline-block;
      background: url('http://video.cgaii.com/images/icon/research-icon.png') no-repeat top left;
      background-size: 100%;
      position: relative;
      top: -0.5rem;
    }
    span{
      font-size: 1.875rem;
      font-weight: bold;
      line-height: 1;
      position: relative;
      top: 1.0625rem;
      letter-spacing: .3125rem;
    }
}